.panel1{
    background-color: #7f8185;
    height: 250px;
}
.panel1 h1{
    color: #f8f008;
    text-align: center;
    padding-top: 50px;
    margin: 0px;
    text-shadow: 2px 2px #e33203;
}
.panel1 h2{
    color: #0f27dd;
    text-align: center;
    padding-top: 20px;
}
.panel2{
    background-color: rgba(51, 51, 51, 0.7);
    height: 50px;
}
.panel2 h4{
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 50px;
}
.panel3{
    background-color: #e7f1f8;
    height: 400px;
}
.panel3 h2{
    text-align: center;
    color: #0f27dd;
    margin-top: 50px;
}
.panel3 hr{
    width: 50px;
    height: 5px;
    background-color: #becff6;
    border-style: none;
}
.panel3 p{
    margin-top: 30px;
}
.about{
    float: left;
    width: 300px;
    margin-left: 150px;
}
.vision{
    float: left;
    width: 300px;
    margin-left: 50px;
}
.mission{
    float: left;
    width: 300px;
    margin-left: 50px;
}
.panel4{
    background-color: #e7f1f8;
    height: 800px;
}
.panel4 h2{
    text-align: center;
    color: #0f27dd;
    margin-top: 50px;
}
.panel4 hr{
    width: 50px;
    height: 5px;
    background-color: #becff6;
    border-style: none;
}
.panel5{
    background-color: #e7f1f8;
    height: 400px;
}
.panel5 form{
    margin-top: 50px;
    margin-left: 20px;
}
input[type=text], select {
    width: 1000px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number],select{
    width: 1000px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=submit] {
    width: 1000px;
    background-color: #e33203;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #333;
}
.panel6{
    height: 200px;
    /*background-image: url(../Images/img.jpg);*/
}
.panel6 p{
    text-align: center;
    margin-top: 50px;
}
.layer {
    background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    height: 200px;
    width: 100%;
}